 /* Google Font CDN Link */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins" , sans-serif;
 }
 :root{
     --black-color:#11101d;
     --white-color:#fff;
     --sky-color:#E4E9F7;
     --light-black:#1d1b31;
 }
 body{
   position: relative;
   min-height: 100vh;
   width: 100%;
   overflow: hidden;
 }
 ::selection{
   color:var(--white-color);
   background: var(--black-color);
 } 
 

 .content .user .user_details{
   display:flex;
   align-items:center;
   opacity:0;
   pointer-events: none;
   white-space: nowrap;
   transition:all 0.4s ease;
 }
 

  #log_out{
   position:absolute;
   bottom:5px;
   left:50%;
   transform:translateX(-50%);
   min-width: 50px;
   line-height: 50px;
   font-size: 20px;
   border-radius: 12px;
   text-align: center;
   transition:all 0.4s ease;
 }
 
 .home_content{
   position:absolute;
   height:100%;
   width:100%;
   left:0px;
   background:var(--sky-color);
   padding:20px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.2);
   transition:all 0.5s ease;
 }
 
 .home_content .text{
   font-size: 25px;
   font-weight: 600;
   color:var(--light-black);
   margin-bottom:15px;
 }
 .home_content p{
   margin-bottom:15px;
 }
         
       